.container 
  .row
    .col-sm-4
      =link_to  research_efforts_path, class: 'tile prim_red1' do
        %i.fa.fa-flask.fa-lg
        %br
        Research Efforts  
    .col-sm-4
      =link_to licences_path, class: 'tile green' do
        %i.fa.fa-file-text.fa-lg
        %br
        Licences
    .col-sm-4
      =link_to ois_requests_path, class: 'tile orange' do 
        %i.fa.fa-paste.fa-lg
        %br
        OisRequests
