=link_to_back

= link_to 'Отменить изменения', @user, class: 'btn btn-default'
%h1 Редактирование пользователя

= render 'form'

-#\|
-#= link_to 'Вернуться к списку', users_path, class: 'btn btn-default'
