.container 
  .row
    .col-sm-4
      .div.tile.purple
        =link_to "ResearcEfforts", research_efforts_path     
    .col-sm-4
      .div.tile.green
        =link_to "Licences", licences_path   
    .col-sm-4
      .div.tile.blue
        =link_to "OisRequests", ois_requests_path 
