.container 
  .row
    .col-sm-4
      =link_to "ResearcEfforts", research_efforts_path, class: 'tile purple'      
    .col-sm-4
      =link_to "Licences", licences_path, class: 'tile green'   
    .col-sm-4
      =link_to "OisRequests", ois_requests_path, class: 'tile orange'   
